.homepage {
    display: flex;
    gap: 80px;
    margin-top: 100px;
    .homepage-titles {
        line-height: 1.5;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .menu-button {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 20px;
            border-radius: 20px;
            background-color: rgb(0, 0, 71);
            color: white;
            font-size: 32px;
        }
    }
}
